<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<link href="https://fonts.googleapis.com/css2?family=Honk&display=swap" rel="stylesheet">

<body>


    <h2 class="pacifico-regular">Tadaaaa ~ ~ </h2>
    <p style="font-size: 30px">You have won </p>
    <p class="honk-PixelText"> A custom made birthday PIXEL ART </p>
    <div style="position: relative;">

        <img class="PixelartImage" src="assets/pixelArtFinal.jpg" alt="Pixel Art">
        <a href="assets/pixelArtFinal.jpg" download
            style="position: relative; top: 110px; right: 95px; z-index: 10; text-decoration: none;">
            <button
                style="padding: 10px 20px; font-size: 1rem; border-radius: 6px; background: #d2691e; color: #fff; border: none; cursor: pointer;">Download</button>
        </a>
    </div>

</body>

</html>